
<ion-view title="IPM App Home">
  <ion-content padding="true">
    <img src="img/ionic.png" class="ionic-logo">
	<br>
	<br>
	<br>
    <p>
      Welcome to the IPM App from the University of Connecticut.
    </p>
	<br>
    <p>
      Press the 'Survey' button below to begin the survey to record and receive help.  The survey will allow us to pinpoint which pest you are having trouble with and give you information on how to deal with them.
    </p>
	<br>
    <p>
      Press the 'Location' button to log geographical information.  Doing so lets us record the location of the pest outbreak you are experiencing so that other people nearby can be informed of them ahead of time.
    </p>
	<br>
    <p>
      Press the 'Feedback' button to send the development team a message with thoughts on the app and ideas on what we can do to improve it.
    </p>
	<br>
    <p>
      Press the 'About' button to learn about the app and the developers behind it.
    </p>
  </ion-content>
</ion-view>
