<ion-view title="Survey" ng-show="page == 0">
  <ion-content padding="true">     
    <p><a class="button button-small icon ion-arrow-left-b" href="#/tab/ipm"> Back</a></p>
	<br>	
	
	<h2>Symptoms</h2>
	
	<h3>plant:</h3>
	<ion-checkbox ng-model="plant.discolored">Discolored</ion-checkbox>
	<ion-checkbox ng-model="plant.holes">Holes</ion-checkbox>
	<ion-checkbox ng-model="plant.spots">Spots</ion-checkbox>
	<ion-checkbox ng-model="plant.defoliated">Defoliated</ion-checkbox>
	<ion-checkbox ng-model="plant.plantMold">Rot/Dieback</ion-checkbox>
	<ion-checkbox ng-model="plant.distorted">Distorted</ion-checkbox>
	<br>

	<h3>Fruit:</h3>
	<ion-checkbox ng-model="fruit.discolored">Discolored</ion-checkbox>
	<ion-checkbox ng-model="fruit.holes">Holes</ion-checkbox>
	<ion-checkbox ng-model="fruit.spots">Spots</ion-checkbox>
	<ion-checkbox ng-model="fruit.defoliated">Distorted</ion-checkbox>
	<ion-checkbox ng-model="fruit.galls">Galls (Raised Areas)</ion-checkbox>
	<ion-checkbox ng-model="fruit.mold">Rot/Dieback</ion-checkbox>
	<br>
	
	<h3>Stem/Branches/Trunk:</h3>
	<ion-checkbox ng-model="branches.discolored">Discolored</ion-checkbox>
	<ion-checkbox ng-model="branches.holes">Holes</ion-checkbox>
	<ion-checkbox ng-model="branches.mold">Rot/Dieback</ion-checkbox>
	<ion-checkbox ng-model="branches.sap">Sap Oozing</ion-checkbox>
	<ion-checkbox ng-model="branches.galls">Galls (Raised Areas)</ion-checkbox>
	<ion-checkbox ng-model="branches.spots">Spots</ion-checkbox>
	<br>
	
		
	<h3>Insect Descriptions:</h3>
	<ion-toggle ng-model="bugs.show">Bugs</ion-toggle>
	<ion-checkbox ng-show="bugs.show" ng-model="bugs.borer">Borer</ion-checkbox>
	<ion-checkbox ng-show="bugs.show" ng-model="bugs.caterpillar">Caterpillar/Larva</ion-checkbox>
	<ion-checkbox ng-show="bugs.show" ng-model="bugs.moths">Moths</ion-checkbox>
	<ion-checkbox ng-show="bugs.show" ng-model="bugs.leafFeeder">Leaf-Feeding Insect</ion-checkbox>	
	<br>
	
	<p><a class="button button-small icon ion-arrow-right-b" ng-click="next()"> Next</a></p>
  </ion-content>
</ion-view>


<ion-view title="Survey (cont.)" ng-show="page == 1">
  <ion-content padding="true">
	<p><a class="button button-small icon ion-arrow-left-b" ng-click="back()"> Back</a></p>
	<br>
	<h3>Overall Plant</h3>
	<ion-checkbox ng-model="plant.wilt">Wilt</ion-checkbox>
	<ion-checkbox ng-model="plant.dieback">Dieback</ion-checkbox>
	<ion-checkbox ng-model="plant.stunted">Stunted</ion-checkbox>
	<ion-checkbox ng-model="plant.dead">Dead</ion-checkbox>
	<ion-checkbox ng-model="plant.healthy">Healthy</ion-checkbox>
	<ion-checkbox ng-model="plant.distorted">Distorted</ion-checkbox>
	<br>
	<ion-checkbox ng-model="plant.multi">Multiple Plants Affected</ion-checkbox>	
	<br>
	
	<p><a class="button button-small icon ion-arrow-right-b" ng-click="next()"> Next</a></p>
  </ion-content>
</ion-view>

<ion-view title="Survey (cont.)" ng-show="page == 2">
  <ion-content padding="true">
	<p><a class="button button-small icon ion-arrow-left-b" ng-click="back()"> Back</a></p>
	<br>
	<h3>Quantifications</h3>
	<label class="item item-input item-select">
		<div class="input-label">
			Number of Pests Observed: 
		</div>
		<select ng-model="pestNumber">
			<option ng-repeat="item in pest" ng-value="item.id">{{item.val}}</option>
		</select>
	</label>	
	<label class="item item-input item-select">
		<div class="input-label">
			Percent of Plants Afflicted: 
		</div>
		<select ng-model="plantPercent">
			<option ng-repeat="item in plantPe" ng-value="item.id">{{item.val}}</option>
		</select>
	</label>	
	<label class="item item-input item-select">
		<div class="input-label">
			Number of Plants Afflicted: 
		</div>
		<select ng-model="plantNumber">
			<option ng-repeat="item in plantNo" ng-value="item.id">{{item.val}}</option>
		</select>
	</label>
	
	<p><a class="button button-small icon ion-arrow-right-b" ng-click="submitData()"> Submit</a></p>
  </ion-content>
</ion-view>

<ion-view title="Results" ng-show="page == 3">
  <ion-content padding="true">
    <img src="img/ionic.png" class="ionic-logo">
    <p>
	<div ng-repeat="result in ResultList">
		{{result.Name}}
		<br>
		<br>
		{{result.Content}}
		<br>
		<br>
		More Information: <a href="{{result.Help}}">Link</a>
		<hr>
	</div>
    </p>
	<br>
	<p><a class="button button-small icon ion-arrow-left-b" ng-click="back()"> Adjust Query</a></p>
	<br>
	<p><a class="button button-small icon ion-arrow-left-b" ng-click="restart()"> Back to Home</a></p>
  </ion-content>
</ion-view>

